__pycache__/
*.py[co]
/build
/dist
/wagtail_vector_index.egg-info
/.coverage
.coverage.*
/htmlcov
/.tox
/.venv
/venv
/.vscode
/site
/test_wagtail_vector_index.db
/node_modules
/test-static
/test-media
/wagtail_vector_index/static
/.devenv
.devenv.flake.nix
devenv.lock
devenv.nix
.env
.ruff_cache
